<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem-vindo!</span>
                <br>
                <span class="title2">Meu nome é Eduardo Bacha, sou desenvolvedor front-end.</span>
            </h1>
            <p class="paragraph">Conheça mais sobre mim, meus projetos e habilidades técnicas</p>

            <div class="buttons">
                <a href="#about">
                    <i class="material-symbols-outlined">
                    sentiment_very_satisfied
                    </i>sobre mim
                </a>
                <a href="#skills">
                    <i class="material-symbols-outlined">
                        sync_saved_locally
                        </i>
                    habilidades
                </a>
            </div>
        </div>

    </section>
    <br>
    <section id="about" class="container about">
        <div class="box">
            <div class="img">
                <img src="./assets/imgs/eduardobacha2.jpg" alt="foto de eduardo bacha">
            </div>
            <div class="text">
                <h2>Sobre mim</h2>
                <h3>Sou programador Web especializado em Angular TypeScript, Engenheiro Mecanico e estudando de Engenharia de Software.</h3>

                <p>Meu nome é Eduardo Bacha. Sou formado em Engenharia Mecânica e atualmente estou ampliando meus horizontes acadêmicos cursando Engenharia de Software. </p>

                <p>Tenho uma paixão por tecnologia e desenvolvimento, o que me levou a me especializar em programação front-end.</p>

                <p>Minha formação em Engenharia Mecânica me proporcionou uma base sólida em resolução de problemas e pensamento analítico, habilidades que são fundamentais no desenvolvimento de software. 
                    Durante minha trajetória, adquiri conhecimentos profundos em diversas linguagens e ferramentas de programação front-end, permitindo-me criar interfaces de usuário eficientes, intuitivas e esteticamente agradáveis. 😃</p>

                    <a href="#contact">Entre em contato comigo!</a>
            </div>
        </div>
    </section>
</main>